:root {
  --bg-light: #ffffff;
  --bg-grey: #f0f0f0;
  --primary: #494949;
  --accent: #5d7177;
  --highlight: #449dd8;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;

  font-size: 16px;

  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  
  color: var(--primary);
}

#background-canvas {overflow: hidden;position: fixed;top: 0;left: 0;z-index: 0;}
#page { position: relative; z-index: 1; padding-top: 65px;}

section { min-height: 100vh; box-sizing: border-box; padding-top: 6%; padding-bottom: 6%;margin: -25px auto 0 auto;}
section:focus {
  outline: none;
}
li {list-style-type: none;}

h1, h2, h3, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--primary);
  text-transform: uppercase;
}

h1 {font-size: 4rem;}
h2 {color: var(--accent);font-size: 1.5rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.2rem;}

hr {
  width: 30px;
  height: 3px;
  background: var(--primary);
  border: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/********* CARD ***********/
.card {
  width: 80%;
  box-sizing: border-box;
  padding: 20px 0;
  margin: 0 auto 20px auto;
  display: inline-block;
}

.card img {
  width: 35%;
  height: 100%;
}

.card .info {
  width: 60%;
  float: right;
}

.info ul li {
  text-align: inherit;
  list-style-type: disc;
}

.img-left img {
  float: left;
  margin-right: 2%;
}

.img-left .info {
  text-align: left;
}

.img-right img {
  float: right;
  margin-left: 2%;
}

.img-right .info {
  text-align: left;
}

.btn {
  background-color: var(--highlight);
  color: var(--bg-light);

  display: block;
  float: left;
  box-sizing: border-box;
  width: 45%;
  max-width: 150px;
  padding: 10px;
  margin: 5px 10px 20px 10px;
  border-radius: 5px;

  font-size: 0.9rem;
  text-align: center;
}

.buttons {
  width: 350px;
}

.img-left .buttons {
  float: left;
}

.img-right .buttons {
  float: right;
}


/********* TRANSITIONS ***********/
#logo, li, .fa-chevron-down, img, .fa-bars {
  transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
}

/************* HEADER *************/
header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--bg-light);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  z-index: 2;
}

#logo {
  width: 110px;
  float: left;
  margin: 0 0 0 50px;
}

#logo:hover {
  opacity: 0.5;
}

#logo img, #logo svg {
  width: 100%;
}

#logo-svg .letters {
  fill: var(--primary);
}

#logo-svg .line {
  fill: var(--highlight);
}

header nav {
  float: right;
  margin: 10px 50px 0 0;
}

header nav ul {
  padding: 0;
}

header nav ul li {
  float: left;
  margin-left: 25px;
}

header nav ul li:hover {
  padding-top: 5px;
}

.fa-bars {
  display: none;
}
/************* HOME *************/
#home {
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, .8),
    rgba(255, 255, 255, 1)
    );
}

#home h1 {
  margin: 25vh auto 0 auto;
}

#home h2 {
  margin: 0 auto;
}

.fa-chevron-down {
  font-size: 2rem;
  margin-top: 20vh;
  opacity: 0.7;
}

.fa-chevron-down:hover {
  opacity: 1;
}

/************* ABOUT *************/
#about {
  background-color: var(--bg-light);
}

#about .card {
  max-width: 1000px;
}

#about .card .info {
  text-align: left;
}

#about img {
  width: 30%;
  max-width: 250px;
  border-radius: 50%;
}

/************* PROJECTS *************/
#projects {
  background-color: var(--bg-grey);
  padding-bottom: 0;
  margin: -25px auto 0 auto;  
  
  -webkit-clip-path: polygon(100% 0, 100% calc(100% - 20px), 0 100%, 0 20px);
  clip-path: polygon(100% 0, 100% calc(100% - 20px), 0 100%, 0 20px);

}

.project {
  -webkit-clip-path: polygon(100% 0, 100% calc(100% - 20px), 0 100%, 0 20px);
  clip-path: polygon(100% 0, 100% calc(100% - 20px), 0 100%, 0 20px);
}

.project:nth-of-type(2n) {
  background-color: var(--bg-light);

}

.technology {
  width: 100%;
  padding: 0;
  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.technology li {
  display: inline;
  float: none;
  
  color: var(--primary);
  line-height: 2.5;
  white-space: nowrap;

  padding: 5px 0;
  margin-right: 20px;
}

.technology i {
  font-size: 2.5rem;
  vertical-align: middle;
}

/************* CONTACT *************/
#contact {
  background-color: rgba(255,255,255,.8);
}
#contact a {
  text-transform: none;
  font-size: 1.1rem;
}
#contact i {
  vertical-align: middle;
  font-size: 2em;
}
#contact ul {
  max-width: 400px;
  padding: 0;
  margin: 0 auto;

  text-align: left;
}

#contact ul li {
  margin: 10px 0 0 0;
}

#contact ul li:hover a {
  font-size: 1.2rem;
}

/************* CV *************/
#cv {
  background-color: var(--bg-light);
  -webkit-clip-path: polygon(100% 0, 100% calc(100% - 20px), 0 100%, 0 20px);
  clip-path: polygon(100% 0, 100% calc(100% - 20px), 0 100%, 0 20px);
}

.cv {
  max-width: 1000px;
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
  text-align: left;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.entry {
  width: 100%;
}

.cv h5 {
  margin-bottom: 10px;
}

.cv h5 span {
  color: var(--highlight);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 10px;
  white-space: nowrap;
}

.cv .two-cols {
  width: 47.5%;
  /* float: left; */
  margin-right: 2.5%;
}

.cv ul li {
  list-style-type: disc;
}

/************* FOOTER *************/
footer {
  background-color: var(--bg-light);
  color: var(--accent);

  border-top: 1px solid var(--bg-grey);
  padding: 10px 0 10px 50px;
  
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}



/************* MEDIA QUERIES *************/

/* TABLET */
@media screen and (max-width: 1024px) {

  body {
  font-size: 14px;
  }

  header {
    height: auto;
    min-height: 40px;
  }

  #logo {
    width: 80px;
    margin-left: 35px;
  }

  #logo svg {
    height: 35px;
  }

  header nav {
    margin-top: 0;
    margin-right: 35px;
  }

  #home h1 {
    margin-top: 20vh;
  }

  header nav ul li {
    margin-left: 18px;
  }

  .card img, .img-left img, .img-right img {
    float: none;
    margin: inherit;
    display: inline-block;
    width: 80%;
  }

  .card .info {
    width: 100%;
    float: none;
    text-align: center;
  }

  .info p {
    text-align: left;
  }

  .info .btn {
    display: inline-block;
    float: none;
  }

  .buttons {
    float: none !important;
    display: inline-block;
  }
  
  .info ul li {
    text-align: left;
    list-style-type: disc;
  }

  .cv span {
    float: right;
  }

  .cv .two-cols {
    width: 100%;
    margin-right: 0;
  }

  footer {
    padding-left: 35px;
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {

  #logo {
    width: 80px;
    margin-left: 30px;
  }

  #logo svg {
    height: 35px;
  }

  header nav {
    margin: 0;
    float: none;
  }

  .fa-bars {
    font-size: 1.1rem;
    text-align: right;
    display: block;
    float: right;
    padding: 10px 5px 0 0;
    margin: 0 30px 0 0;
    cursor: pointer;
  }

  .fa-bars:hover {
    opacity: 0.5;
  }

  header nav ul {
    height: 0;
    overflow: hidden;
  }

  header nav ul.open {
    height: auto;
    width: 100%;
    margin: 0;
  }

  header nav ul li {
    width: 100%;
    padding: 8px 0;
    margin: 0;
    font-size: 1.1rem;
    border-top: 1px solid #dddddd;
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li:hover {
    background-color: #eeeeee;
    padding-top: 8px;
  }

  #home h2 {
    width: 70%;
  }

  #cv {
    padding-bottom: 10%;
  }

  #contact {
    padding-top: 15%;
  }

  #contact ul {
    text-align: center;
  }

  #about img {
    width: 60%;
  }

  .img-left img, .img-right img {
    width: 100%;
  }

  .btn {
    margin: 0 4% 0 0;
    width: 45%;
    font-size: 0.8rem;
  }

  .buttons {
    width: 100%;
  }
  
  .technology li {
    margin-right: 10px;
  }

  .technology i {
    font-size: 1.5rem;
  }
  footer {
    text-align: center;
    padding-left: 0;
  }
}