html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#background-canvas {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#page {
  position: relative;
  z-index: 1;
  padding-top: 65px;
}

section {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 8%;
  padding-bottom: 6%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1, h2, h3, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #494949;
  text-transform: uppercase;
}

h2 {
  color: #5d7177;
}

h3 {
  font-size: 40px;
  margin-bottom: 5px;
}

h4, p {
  font-family: 'Roboto Slab', serif;
  color: #494949;
}

hr {
  width: 30px;
  height: 3px;
  background: #494949;
  border: 0;
  margin: 0 auto 40px auto;
}

/********* TRANSITIONS ***********/
#logo, li, .fa-chevron-down, img, .fa-bars {
  transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
}

/************* HEADER *************/
header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  z-index: 2;
}

#logo {
  width: 110px;
  float: left;
  margin: 0 0 0 50px;
}

#logo:hover {
  opacity: 0.5;
}

#logo img, #logo svg {
  width: 100%;
}

#logo-svg .letters {
  fill: #494949;
}

#logo-svg .line {
  fill: #449dd8;
}

header nav {
  float: right;
  margin: 10px 50px 0 0;
}

header nav ul {
  padding: 0;
}

header nav ul li {
  float: left;
  margin-left: 25px;
  font-size: 16px;
}


header nav ul li:hover {
  padding-top: 5px;
}

/************* HOME *************/
#home {
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, .8),
    rgba(255, 255, 255, 1)
    );
}

#home h1{
  margin: 25vh auto 0 auto;
  font-size: 4em;
}

#home h2 {
  margin: 0 auto;
  font-size: 25px;
}

.fa-chevron-down {
  font-size: 2em;
  margin-top: 20vh;
  opacity: 0.7;
}

.fa-chevron-down:hover {
  opacity: 1;
}

/************* ABOUT *************/
#about {
  background-color: #ffffff;
}
#about img {
  width: 240px;
}

#about img:hover {
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#about h4 {
  font-size: 25px;
}

#about p {
  max-width: 700px;
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
}

/************* PROJECTS *************/
#projects {
  background-color: #f0f0f0;
  padding-bottom: 0;
}

#work {
  width: 900px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#work ul {
  padding: 0;
  text-align: center;
}

#work ul li {
  float: left;
  width: 33%;
  margin-bottom: 15px;
}

#work img {
  width: 280px;
  height: 170px;
  border-radius: 5px;
}

#work img:hover {
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}


/************* CONTACT *************/
#contact {
  background-color: rgba(255,255,255,.8);
}
#contact a {
  text-transform: none;
  font-size: 18px;
}
#contact i {
  font-size: 2em;
  vertical-align: middle;
}
#contact ul {
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
  text-align: left;
}

#contact ul li {
  margin: 10px 0 0 0;
}

#contact ul li:hover a {
  font-size: 20px;
}

/************* FOOTER *************/
footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #ffffff;
  color: #8a8a8a;
  border-top: 1px solid #f0f0f0;
  text-align: left;
  padding: 10px 0 10px 30px;
}

.fa-bars {
  display: none;
}

/************* MEDIA QUERIES *************/

/* TABLET */
@media screen and (max-width: 1024px) {
  header {
    height: auto;
    min-height: 40px;
  }

  #logo {
    width: 100px;
    margin-left: 35px;
  }

  #logo svg {
    height: 35px;
  }

  header nav {
    margin-top: 0;
    margin-right: 35px;
  }

  header nav ul li {
    font-size: 12px;
  }

  #home h1 {
    font-size: 3.8em;
    margin-top: 20vh;
  }

  #home h2 {
    font-size: 22px;
  }

  #work {
    width: auto;
  }

  #work ul li {
    width: 100%;
    float: none;
  }

  #work ul li:last-child {
    padding-bottom: 10%;
  }

  #work img {
    width: 55%;
    height: auto;
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {

  #logo {
    width: 90px;
  }

  #logo svg {
    height: 35px;
  }

  header nav {
    margin: 0;
    float: none;
  }

  .fa-bars {
    font-size: 18px;
    text-align: right;
    display: block;
    float: right;
    padding-top: 10px;
    margin: 0 30px 0 0;
    cursor: pointer;
  }

  .fa-bars:hover {
    opacity: 0.5;
  }

  header nav ul {
    height: 0;
    overflow: hidden;
  }

  header nav ul.open {
    height: auto;
    width: 100%;
    margin: 0;
  }

  header nav ul li {
    width: 100%;
    padding: 8px 0;
    margin: 0;
    font-size: 14px;
    border-top: 1px solid #dddddd;
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li:hover {
    background-color: #eeeeee;
    padding-top: 8px;
  }

  #home h2 {
    width: 70%;
  }

  #work img {
    width: 70%;
  }

  #contact {
    padding-top: 15%;
  }

  #contact ul {
    text-align: center;
  }
}


.project:nth-of-type(2n) {
  background-color: #fff;
}

.card {
  width: 80%;
  box-sizing: border-box;
  padding: 20px 0;
  margin: 0 auto 20px auto;
  display: inline-block;
}


.card img {
  width: 30%;
  height: 100%;
}

.card .info {
  width: 60%;
  float: right;
}

.info ul {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
}

.info ul li {
  float: left;
  margin-right: 25px;
}

.img-left img {
  float: left;
  margin-right: 5%;
}

.img-right img {
  float: right;
  margin-left: 5%;
}

.technology i {
  font-size: 40px;
}

.project ul {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
}

.project ul li {
  float: left;
  margin-right: 20px;
}

ul.technology-2 {
  padding: 0;
  width: 100%;
}

.project ul.technology-2 li {
  white-space: nowrap;
  float: none;
  display: inline;
  line-height: 2.5;
}

.technology-2 i {
  font-size: 40px;
  vertical-align: middle;
}

.technology-2 li {
  color: #494949;
  font-weight: 500;
  padding: 5px 0;

}

.btn {
  background-color: #449dd8;
  color: #f0f0f0;
  font-size: 14px;
  float: left;
  display: block;
  box-sizing: border-box;
  width: 40%;
  max-width: 150px;
  padding: 10px;
  margin: 5px 10px 20px 10px;
  border-radius: 5px;
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .img-left img, .img-right img {
    float: none;
    margin: inherit;
    display: inline-block;
    width: 100%;
  }

  .card .info {
    width: 100%;
    float: none;
  }
}